# Ambiente do Node (development ou production)
NODE_ENV=development

# Porta onde o servidor Express vai rodar localmente
PORT=3000

# String de conexão com o banco de dados PostgreSQL
# IMPORTANTE: Como o banco roda no Docker, use a porta mapeada (5433) para rodar os comandos do Prisma na máquina local
DATABASE_URL=postgresql://seu_usuario:sua_senha@localhost:5433/seu_banco?schema=public

# Chave secreta para criptografia e validação dos tokens JWT
JWT_SECRET=sua_chave_secreta_aqui